<launch>

  <!-- <env name="GAZEBO_MODEL_PATH" value="$(find fetch_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)" /> -->

  <arg name="robot" default="fetch"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>

  <!-- Start Gazebo with a world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Oh, you wanted a robot? -->
  <include file="$(find fetch_gazebo)/launch/include/$(arg robot).launch.xml" />

  <include file="$(find fetch_moveit_config)/launch/move_group.launch" />

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

  <arg name="config_file_name" value="fetch_config.config" />
  <param name="config_file_name" value="$(arg config_file_name)"/>
  <node pkg="relaxed_ik" type="relaxed_ik_node.py" name="relaxed_ik_node" />

  <!-- <node pkg="fetch_teleop" type="teleop_class.py" name="teleop" /> -->

</launch>
